####################################
# General
####################################
.env
.env.*
*.log
.DS_Store
Thumbs.db

####################################
# Frontend - React (Node)
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

build/
dist/

####################################
# Backend - .NET
####################################
bin/
obj/

*.user
*.suo
*.cache
*.pdb
*.mdb

.vs/
.vscode/

####################################
# .NET Core / ASP.NET
####################################
appsettings.Development.json
appsettings.Local.json

####################################
# Publish
####################################
publish/
out/

####################################
# IDE
####################################
.idea/
*.swp
*.sln.iml

####################################
# OS
####################################
*.bak
